{% extends 'main_app/base.html' %}
{% load static %}
{% block contents %}
        <main id="main">
            <div class="mainImg">
                <img src="{%static '/img/fondue.jpg' %}" alt="fondu" />
            </div>
            <div class="introducePage" style="background-image: url('{% static 'img/introduce.jpg'%}')">
                <a href="#"  class="detail_introduce">팀원 소개 페이지 바로가기</a>
            </div>
            <div class="gamePage" style="background-image: url('{% static '/img/game.jpg' %}')">
                <a href='{% url "game_app:index" %}' class="detail_game">게임 페이지 바로가기</a>
            </div>
            <div class="photoPage" style="background-image: url('{% static '/img/photo.jpg' %}')">
                <a href="#" class="detail_photo">사진모음 페이지 바로가기</a>
            </div>
        </main>
{% endblock %}