{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Websys - Fondue</title>
    <link rel="stylesheet" href="../../static/css/game.css">
    <link rel="stylesheet" href="{% static '/css/style.css' %}?after">

</head>
<body>
<!-- Header -->
 <!--Header-->
        <header>
            <nav>
                <div class="logo">
                    <ul class="home_menu">
                        <li>
                            <a href="/" class="home">
                                <img src="{% static '/img/websys.png' %}?after" />
                                Fondue
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="menu">
                    <ul class="menus_sub-menu">
                        <li class="date"></li>
                        <li class="time"></li>
                    </ul>
                    <ul class="menus_menu">
                       <li><a href = '{% url "introduce_app:introduce" %}' class="introduce">Introduce</a></li>
                        <li><a href='{% url "game_app:index" %}' class="game">Game</a></li>
                        <li><a href='{% url "album_app:album" %}' class="photo">Photo</a></li>
                        <li><a href="login" class="logIn" id="logIn">log-in</a></li>
<!--                        <li><a href="createAccount" class="CreateAccount">Create account</a></li>-->
                    </ul>
                </div>
            </nav>
        </header>

<!-- Page title -->
<section class="header">
    <div class="header__container">
        <div class="header__title">
            Game
        </div>
    </div>
</section>


<!-- Item section -->
<section class="items">
    <div class="items__category" data-type="game">
        <h2 class="items__category-name">미니 게임</h2>

        <ul class="item">

            <li class="item__info">
                <a href={% url 'game_app:game1' %}>
                    <img class="item__info-img"
                         src="{% static 'images/game1/Thumbnail1.png' %}"
                         alt="슈팅 게임">
                    <p></p>
                    <span class="item__info-name"> 슈팅 게임 </span>
                </a>
            </li>

            <li class="item__info">
                <a href={% url 'game_app:game2' %}>
                    <img class="item__info-img"
                         src="{% static 'images/game2/Thumbnail2.png' %}"
                         alt="낚시 게임">
                    <br>
                    <span class="item__info-name"> 낚시 게임 </span>
                </a>
            </li>

            <li class="item__info">
                <a href={% url 'game_app:game3' %}>
                    <img class="item__info-img"
                         src="{% static 'images/game3/Thumbnail3.png' %}"
                         alt="게임 3번">
                    <br>
                    <span class="item__info-name"> 오목 게임 </span>
                </a>
            </li>

            <li class="item__info">
                <a href={% url 'game_app:game4' %}>
                    <img class="item__info-img"
                         src="{% static 'images/game4/Thumbnail4.png' %}"
                         alt="게임 4번">
                    <br>
                    <span class="item__info-name"> 블록 피하기 게임 </span>
                </a>
            </li>

            <li class="item__info">
                <a href={% url 'game_app:game5' %}>
                    <img class="item__info-img"
                         src="{% static 'images/game5/Thumbnail5.png' %}"
                         alt="게임 5번">
                    <br>
                    <span class="item__info-name"> 개구리 게임 </span>
                </a>
            </li>


        </ul>
    </div>
</section>

<!-- Footer -->
 <!-- footer -->
        <footer id="footer">
            <div class="copyright">
                <div class="foot1">
                    <p style="font-size: 18px;">Websys</p>
                    <p>충북대학교: 충청북도 청주시 서원구 충대로1 </p>
                    <p class="copy"> copyright &copy WEBSYS: Myoungsuk, Junho, Eunsung, Sieun.</p>
                </div>
            </div>
        </footer>
</body>
</html>