* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.banner-section {
    background: red;
    width: 100vw;
    height: 70vh;
    overflow: hidden;
    position: relative;
}

.banner-video {
    width: 100%;
}

.banner-text {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
}

.profile-container {
    background: blue;
    width: 100vw;
    height: 100vh;
}

.map-section {
    background-color: skyblue;
    width: 100vw;
    height: 100vh;
}