.map-layout {
    border: 1px solid violet;
    width: 100%;
    height: 100%;
}

.map-box {
    width: 500px;
    height: 500px;
    border-radius: 70%;
    overflow: hidden;
}

#map {
    width: 100%;
    height: 100%;
    object-fit: cover;
}