<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" rel="stylesheet" href="{% static 'css/header.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/footer.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/introduce.css' %}"/>
</head>
<body>

<!--============== Navigation Bar ==============-->
<header>
    <nav>
        <div>
            <ul class="home_menu">
                <li><a href="/main_app" class="home">name</a></li>
            </ul>
        </div>
        <div>
            <ul class="menus_menu">
                <li><a href="#" class="introduce">Introduce</a></li>
                <li><a href="#" class="game">Game</a></li>
                <li><a href="#" class="eunsung">--</a></li>
            </ul>
        </div>
    </nav>
</header>
<!--============== Navigation Bar// ==============-->


<!--============== 1: Banner ==============-->
<section class="banner">
    <div class="banner-bg">
        <div class="banner-text-1">
            <p>HelloWorld</p>
        </div>
    </div>
</section>
<!--============== 1: Banner// ==============-->


<!--============== 2: Profiles ==============-->
<section class="profile">
<!---------------- 2-1: Profile-1 ---------------->
    <div class="profile-container">
        <div class="profile-1">

        </div>
    </div>
<!---------------- 2-1: Profile-1// ---------------->

<!---------------- 2-2: Profile-2 ---------------->
    <div class="profile-container">
        <div class="profile-2">

        </div>
    </div>
<!---------------- 2-2: Profile-2// ---------------->

<!---------------- 2-3: Profile-3 ---------------->
    <div class="profile-container">
        <div class="profile-3">

        </div>
    </div>
<!---------------- 2-3: Profile-3// ---------------->


<!---------------- 2-4: Profile-4 ---------------->
    <div class="profile-container">
        <div class="profile-4">

        </div>
    </div>
<!---------------- 2-4: Profile-4// ---------------->
</section>
<!--============== 2: Profiles// ==============-->


<!--============== 3: Map ==============-->

<!--============== 3: Map// ==============-->


<!--============== Footer ==============-->

<!--============== Footer// ==============-->

</body>
</html>